.title-slide hgroup h1 {
  font-size: 72px;
  text-align: left;
  letter-spacing: 1;
}

#challenge-1{
  font-size: 18px;
}

#solution-1{
  font-size: 18px;
}

#challenge-2{
  font-size: 22px;
}

#solution-2{
  font-size: 22px;
}

code.r{
  font-size: 14px;
}
pre {
  font-size: 18px
  width: 50%; /* 106%; */
  left: 0; /* -60px; */
  padding: 10px 15px 10px 15px; /* 10px 0 10px 60px; */
}

